{:deps {io.github.babashka/instaparse-bb {:git/sha "059045f6a8450bda74eb30136ddd2c5475f788d1"}
        io.github.chbrown/bartleby {:git/url "https://github.com/chbrown/bartleby"
                                   :sha "84134aecd266bdafa74802b19066c11e4afafed5"}}}
